:host ::ng-deep .p-button {
    width: 8rem;
    height: 3rem;
    font-size: 1.3rem;
    background-color: var(--sage-green-300);
    color: var(--sage-green-900);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

:host ::ng-deep .p-button:hover {
    background-color: var(--sage-green-400);
    color: var(--sage-green-950);
}