<div class="register-pet-container">
  <form [formGroup]="petForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Nombre:</label>
      <input id="name" formControlName="name" type="text" />
    </div>

    <div>
      <label for="type">Tipo:</label>
      <select id="type" formControlName="type" (change)="onTypeChange($event.target.value)">
        <option *ngFor="let type of petTypes" [value]="type">{{ type }}</option>
      </select>
    </div>

    <div>
      <label for="breed">Raza:</label>
      <select id="breed" formControlName="breed">
        <option *ngFor="let breed of selectedBreeds" [value]="breed">{{ breed }}</option>
      </select>
    </div>

    <div>
      <label for="birthDate">Fecha de Nacimiento:</label>
      <input id="birthDate" formControlName="birthDate" type="date" />
    </div>

    <div>
      <label for="photo">Foto:</label>
      <input id="photo" formControlName="photo" type="file" />
    </div>

    <div class="buttons">
      <button type="submit" [disabled]="!petForm.valid">Crear Mascota</button>
      <button type="button" (click)="onCancel()">Cancelar</button>
    </div>
  </form>
</div>