<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
</head>

<body>
    <img src="fondo.png" alt="Logo de PetPlanify" id="fondo" />

    <app-menu />

    <div class="contenedor-flex">
        <div class="textos">

            <h1>Cuida a tu peludo con PetPlanify</h1>
            <h2>La plataforma encontrarás todo lo que necesitas para el bienestar, salud y felicidad de tu mascota</h2>

            <app-card />
        </div>

        <app-image-compare />

    </div>
</body>

</html>