<div class="contenedor">
    <div class="contenedor fade-bottom">
        <div class="tarjetas">
            <div class="tarjeta-inner color1 visible">
                <img class="icono" src="assets/salud.png" alt="Icono de salud">
                <span>Administra su salud</span>
            </div>
        </div>

        <div class="tarjetas">
            <div class="tarjeta-inner color2 visible">
                <img class="icono" src="assets/eventos.png" alt="Icono de eventos">
                <span>Atiende a eventos</span>
            </div>
        </div>

        <div class="tarjetas">
            <div class="tarjeta-inner color3 visible">
                <img class="icono" src="assets/petfriendly.png" alt="Icono de comida">
                <span>Viaja con tus peludos</span>
            </div>
        </div>
    </div>
</div>
