<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
</head>

<body>
    <div class="title1">
        <h1>¡Cuida a tu compañero peludo <br> con PetPlanify!</h1>

        <div class="contenedor fade-bottom">
            <div class="tarjetas">
                <div class="tarjeta-inner color1">
                    <img class="icono" src="salud.png" alt="Icono de salud" />
                    <span>Cuidado integral</span>
                </div>
            </div>
        
            <div class="tarjetas">
                <div class="tarjeta-inner color2">
                    <img class="icono" src="eventos.png" alt="Icono de eventos" />
                    <span>Eventos para mascotas</span>
                </div>
            </div>
        
            <div class="tarjetas">
                <div class="tarjeta-inner color3">
                    <img class="icono" src="petfriendly.png" alt="Icono de comida" />
                    <span>Lugares Pet Friendly</span>
                </div>
            </div>
        </div>        

    </div>

    <div class="cachorro">
        <img src="puppy.png" alt="Golden retriever cachorro animación 3D" />
    </div>

</body>

</html>