<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Home</title>
</head>

<body>
    <div class="title1">
        <h1>¡Cuida a tu compañero peludo <br> con PetPlanify!</h1>

        <div class="tarjetas">
            <img src="tarjeta.png" alt="Tarjeta de color verde" />
            <span>Texto sobre la tarjeta</span>
        </div>
    </div>

    <div class="cachorro">
        <img src="puppy.png" alt="Golden retriever cachorro animacion 3d" />
    </div>
</body>

</html>