@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    font-family: Quicksand, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title1 {
    text-align: center;
    margin-top: 100px;
}

.title1 h1 {
    /* TODO: poner la letra en negrita*/
    font-size: 4rem;
    color: #FF7043;
}

.tarjetas {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}

.tarjetas img {
    width: 14%;
}

.tarjetas span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.cachorro {
    position: relative;
    width: 100%;
}

.cachorro img {
    position: absolute;
    top: 200px;
    width: 450px;
}

@media screen and (max-width: 768px) {
    .cachorro img {
        width: 350px;
    }
}